# Python
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
local_settings.py
media/
staticfiles/
static/

# Migrations (opcional)
**/migrations/
!**/migrations/__init__.py

# Entornos virtuales
venv/
env/
.venv/
ENV/
.python-version

# IDEs y sistema
.vscode/
.idea/
*.iml
*.DS_Store

# Test y coverage
.coverage
htmlcov/
.tox/
.pytest_cache/
nosetests.xml
coverage.xml
.hypothesis/

# mypy
.mypy_cache/
.dmypy.json
.pyre/
